ion-modal-view.modal-add
    ion-header-bar.bar-positive
        h1.title Add {{ctrl.type}}
        a.button.button-icon.ion-close-round(ng-click="ctrl.closeForm()")
    ion-content
        form(
            ng-submit='ctrl.add(ctrl.type)'
            no-validate=''
        )
            ion-list
                ion-item.item-input.item-stacked-label
                    label.input-label Name
                    input(
                        type='text' 
                        ng-model='ctrl.addForm.name' 
                        placeholder='The name of the {{ctrl.type}}'
                    )
                ion-item.item-input.item-stacked-label
                    label.input-label Attributes
                    input(
                        type='text' 
                        ng-model='ctrl.addForm.attrs' 
                        placeholder='Comma separated list of attributes'
                    )
                ion-item.item-input.item-stacked-label
                    label.input-label Restrict
                    input(
                        type='text' 
                        ng-model='ctrl.addForm.restrict' 
                        placeholder='Restrict directive to element or attribute (Default: EA)'
                    )
                ion-item.item-input.item-stacked-label
                    label.input-label Directory
                    input(
                        type='text' 
                        ng-model='ctrl.addForm.dir' 
                        placeholder='Directory in which to add the new {{ctrl.type}}'
                    )
                ion-item.item-input.item-stacked-label
                    label.input-label Template Path
                    input(
                        type='text' 
                        ng-model='ctrl.addForm.template' 
                        placeholder='Path to the template you wish to use with the directive'
                    )
                ion-item.item-input.item-stacked-label
                    label.input-label Dependencies
                    input(
                        type='text' 
                        ng-model='ctrl.addForm.dependencies' 
                        placeholder='Comma separated list of dependencies'
                    )
                ion-item.item-input.item-stacked-label
                    label.input-label Resolves
                    input(
                        type='text' 
                        ng-model='ctrl.addForm.resolves' 
                        placeholder='Comma separated list of resolves'
                    )   
                ion-item.item-input.item-stacked-label
                    label.input-label Url
                    input(
                        type='text' 
                        ng-model='ctrl.addForm.url' 
                        placeholder='Url of the new {{ctrl.type}}'
                    )                
                ion-item.item-input.item-stacked-label
                    label.input-label Resolver
                    input(
                        type='text' 
                        ng-model='ctrl.addForm.resolver' 
                        placeholder='Resolver to use with new {{ctrl.type}}'
                    )   
                ion-item.item-input.item-stacked-label
                    label.input-label View
                    input(
                        type='text' 
                        ng-model='ctrl.addForm.view' 
                        placeholder='The name of the view'
                    )   
                ion-item.item-input.item-stacked-label
                    label.input-label Type
                    input(
                        type='text' 
                        ng-model='ctrl.addForm.type' 
                        placeholder='The type of the new {{ctrl.type}}'
                    )
            button.button.button-clear.button-calm.button-block.icon-right.ion-checkmark-round(type='submit') Add {{ctrl.type}}