ion-view.page-home(view-title='home')
    ion-content            
        .row
            .col-xs-4.col-md-2
                nav.card
                    h3 Madness Enjin
                    .tabs.tabs-icon-top
                        a.tab-item(
                            ui-sref='menu.add'
                            ui-sref-active='active'
                        )
                            i.icon.ion-plus-circled
                            | Add
                        a.tab-item(
                            ui-sref='menu.components'
                            ui-sref-active='active'
                        )
                            i.icon.ion-star
                            | Components
                        a.tab-item(
                            ui-sref='menu.routes'
                            ui-sref-active='active'
                        )
                            i.icon.ion-map
                            | Routes
                div(ui-view='tab')
            .col-xs-8.col-md-10
                form(ng-submit="ctrl.changeUrl(ctrl.currentUrl)")
                    ion-item.item-input.icon-left
                        i.icon.ion-search
                        input(
                            type='text'
                            ng-model="ctrl.currentUrl"
                            ng-blur="ctrl.changeUrl(ctrl.currentUrl)"
                        )
                iframe#appFrame(
                    src='http://localhost:3000'
                    border='none'
                )
                